version: "3.9"
services:
  mariadb:
    container_name: mariadb
    image: mariadb:latest
    ports:
      - "3307:3307"
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: testdb
    restart: always
  
  sampleapp:
    container_name: springboot
    build: .
    environment:
      MARIADB_ADDRESS: mariadb
      MARIADB_USERNAME: root
      MARIADB_PASSWORD: root
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - mariadb